{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "react",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true,
    "browser": true // This is necessary for React Native fetch, see https://github.com/eslint/eslint/issues/4015
  },
  "rules": {
    "import/extensions": 0,
    "no-use-before-define": 0,
    "import/no-extraneous-dependencies": 0,
    "global-require": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": 0,
    "prettier/prettier": [2, {
      "singleQuote": true
    }]
  },
  "globals": {
    "jest": true
  }
}
