{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "react",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true,
    "browser": true // This is necessary for React Native XMLHttpRequest, see https://github.com/eslint/eslint/issues/4015
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "singleQuote": true
      }
    ],
    "import/extensions": 0,
    "no-use-before-define": 0,
    "import/no-extraneous-dependencies": 0,
    "global-require": 0,
    "prefer-promise-reject-errors": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/require-default-props": 0,
    "flowtype/boolean-style": [
      2,
      "boolean"
    ],
    "flowtype/no-weak-types": 1,
    "flowtype/require-parameter-type": 0,
    "flowtype/require-return-type": [
      0,
      "always",
      {
        "annotateUndefined": "never"
      }
    ],
    "flowtype/require-valid-file-annotation": 2,
    "flowtype/use-flow-type": 1,
    "flowtype/valid-syntax": 1,
    "react/display-name": 0
  },
  "globals": {
    "jest": true
  }
}
