{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "@typescript-eslint", "prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true,
    "browser": true // This is necessary for React Native XMLHttpRequest, see https://github.com/eslint/eslint/issues/4015
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "singleQuote": true
      }
    ],
    "import/extensions": 0,
    "no-use-before-define": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "global-require": 0,
    "prefer-promise-reject-errors": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,
    "react/display-name": 0,
    "react/sort-comp": 0,
    "react/destructuring-assignment": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "no-return-assign": 0,
    "no-undef": 0,
    "@typescript-eslint/ban-ts-ignore": 1
  },
  "globals": {
    "jest": true
  }
}
